/* psuedo and universal selectors */

:root {
    --mainBlue: #30A7C1;
    --lightBlue: #C6DDE2;
    --pink: #F43D70;
    --green: #B5D3AE;
}



body {
    background-color: var(--lightBlue);
    font-family: 'Comfortaa', cursive;
}

/* end of psuedo and universal selectors */

/* start of header with nav */

#topNav {
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    background-color: var(--mainBlue);
    color: var(--lightBlue);

}

#nameLogo p:first-of-type {
    font-size: 2rem;
    font-family: 'Nothing You Could Do', cursive;
    font-weight: bold;
    text-shadow: -.05em -.05em var(--pink);
}

#topNav p {
    text-align: center;
}

.navLink {
    display: inline-block;
    padding: .8rem .5rem;
}

.navClick {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--lightBlue);
}

.navClick:hover {
    font-weight: bolder;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: .2rem;
    text-decoration-color: var(--pink);
    color: var(--green);
}

/* end of header with nav */

/* start of main section */

/* start of profile */

#aboutMe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5rem;
    padding: 4rem 10rem;
    color: var(--mainBlue);
}

#aboutMe h1,
#aboutMe h2,
#aboutMe p {
    width: 30%;
    height: auto;
    white-space: nowrap;
}

#aboutMe h1 {
    margin: auto 0;
    font-size: 3em;
}


#aboutMe h2 {
    margin-top: auto;
    width: 50%;
    font-size: 2em;
    text-align: right;
}

#aboutMe p:first-of-type {
    margin: auto 0;
    text-align: right;
    white-space: normal;
}

#aboutMe p {
    font-size: 1.5em;
}

#aboutMe img {
    width: 15%;
    border: .2em solid var(--mainBlue);
    border-radius: 50%;
}

/* end of profile */

/* start of application links */

.mainSection {
    padding: 3em .5em;
}

.mainWork {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3em 10em;
    background-color: var(--mainBlue);
    color: var(--lightBlue);
}

.mainWork figure,
.mainWork p {
    width: 35%;
}

.mainWork p {
    font-size: 1.5rem;
}

.mainWork img {
    width: 100%;
}

.mainWork figure {
    position: relative;
}

.mainWork figcaption {
    position: absolute;
    bottom: -.8rem;
    left: 1.7rem;
    width: 80%;
    padding: .3em 1em;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    background-color: var(--lightBlue);
    color: var(--pink);
}

.workGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.workGrid figure,
.workGrid p {
    width: 22%;
    padding: 1em;
    color: var(--mainBlue)
}

.workGrid img {
    width: 100%;
}

.workGrid figure {
    position: relative;
}

.workGrid figcaption {
    position: absolute;
    top: .2rem;
    left: 3.2rem;
    width: 60%;
    padding: .7em 1em;
    text-align: center;
    background-color: var(--mainBlue);
    color: var(--lightBlue);
}

/* end of application links */

/* start of contact section */

#contact {
    padding: 2em;
    background-color: var(--mainBlue);

}

#contact h2 {
    margin: 1em auto;
    width: 80%;
    padding: 1em;
    font-size: 3rem;
    text-align: center;
    background-color: var(--lightBlue);
    color: var(--mainBlue);
}


#contact ul {
    text-align: center;
}

.contactIcon {
    vertical-align: bottom;
    margin-right: .5em;
    width: auto;
    height: 1em;
}

.contactLink {
    margin: 1.5em;
    font-size: 3em;
}

.contactClick {
    text-decoration: none;
    color: var(--lightBlue);
}

/* end of contact section */

/* end of main section */

/* start of footer */

#pageFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    font-size: 3rem;
    line-height: 1.5em;
    font-weight: bolder;
    text-align: center;
    background-color: var(--pink);
    color: var(--lightBlue);
}

.footerClick {
    text-decoration: none;
    color: var(--green);
}

/* end of footer */

/* pink spans */

.pink {
    font-weight: bolder;
    color: var(--pink);
}

/* start of media queries */

/* 1450 min-width media query */

@media (min-width: 1450px) {

    /* nav */

    .navClick {
        font-size: 1.5rem;
    }

    /* profile */

    #aboutMe {
        padding: 5rem 15rem;
    }

}

/* 1200px max-width media query */

@media (max-width: 1200px) {

    /* profile */

    #aboutMe {
        padding: 2rem;
    }

    /* application links */

    .mainWork {
        padding: 2em;
    }

    .mainWork p {
        font-size: 1.5rem;
    }

    /* footer */

    #pageFooter {
        padding: 1rem;
        font-size: 2rem;
    }

}

/* 1024px max-width media query */

@media (max-width: 1024px) {

    /* nav */

    .navClick {
        font-size: 1.2rem;
    }

    /* profile */

    #aboutMe {
        padding: 1.5rem;
    }

    #aboutMe h1 {
        font-size: 2.5rem;
    }

    #aboutMe h2 {
        font-size: 2rem;
    }

    #aboutMe p {
        font-size: 1.3rem;
    }

    /* application links */

    .mainWork {
        padding: 2rem;
    }

    .mainWork figure,
    .mainWork p {
        width: 45%;
        font-size: 1.3rem;
    }

    .workGrid p {
        font-size: .8rem;
    }

    /* contact section */

    #contact {
        padding: .5rem;
    }

    #contact h2 {
        font-size: 2.5rem;
    }

    .contactLink {
        font-size: 2rem;
    }

    /* footer */

    #pageFooter {
        font-size: 1.5rem;
    }

}

/* 768px max-width media query */

@media (max-width: 768px) {

    /* nav */

    #topNav {
        flex-direction: column;
        align-items: center;
    }

    #topNav ul {
        margin: 1em auto .5em;
        text-align: center;
    }

    .navLink {
        display: block;
        padding: .2em .5em;
    }

    .navClick {
        font-size: 1rem;
    }

    /* profile */

    #aboutMe {
        padding: 6rem 3rem .5rem;
    }

    #aboutMe h1 {
        margin-bottom: 0;
        font-size: 1.4rem;
    }

    #aboutMe h2 {
        font-size: 1rem;

    }

    #aboutMe p {
        font-size: .7rem;
    }

    #aboutMe img {
        width: 30%;
    }

    /* application links */

    .mainWork {
        padding: 1em;
    }

    .mainWork figure,
    .mainWork p,
    .workGrid figure,
    .workGrid p {
        width: 40%;
        font-size: .7rem;
    }

    .box1 {
        order: 1;
    }

    .box2 {
        order: 2;
    }

    .box3 {
        order: 4;
    }

    .box4 {
        order: 3;
    }

    .box5 {
        order: 6;
    }

    .box6 {
        order: 5;
    }

    .box7 {
        order: 7;
    }

    .box8 {
        order: 8;
    }

    /* contact section */

    #contact h2 {
        font-size: 1.3rem;
    }

    .contactLink {
        font-size: 1rem;
    }

    .contactIcon {
        height: 1.5rem;
    }

    /* footer */

    #pageFooter {
        padding: 1em;
        font-size: 1rem;
    }
}

/* 560 - 768px media query */

@media (min-width: 560px) and (max-width: 768px) {

    /* profile */

    #aboutMe {
        padding: 6rem 2rem .5rem;
    }

    #aboutMe h1 {
        font-size: 2rem;
    }

    #aboutMe h2 {
        font-size: 1.5rem;

    }

    #aboutMe p {
        font-size: 1rem;
    }

    /* application links */

    .mainWork p,
    .workGrid p {
        font-size: 1rem;
    }
}

/* 480px max-width media query */

@media (max-width: 480px) {

    /* profile */

    #aboutMe {
        flex-direction: column;
    }

    #aboutMe h1 {
        font-size: 1.5rem;
    }

    #aboutMe h2 {
        align-self: flex-end;
        font-size: .9rem;
    }

    #aboutMe img {
        align-self: center;
        border: .2em solid var(--mainBlue);
        width: 50%;
    }

    #aboutMe p {
        display: none;
    }

    /* application links */

    .mainWork {
        flex-direction: column;
        padding: .5rem;
    }

    .mainWork figure,
    .mainWork p,
    .workGrid figure,
    .workGrid p {
        margin: 1rem auto;
        width: 80%;
        font-size: 1rem;
        text-align: center;
    }

    .workGrid {
        flex-direction: column;
    }

    .workGrid p {
        display: none;
    }

    /* contact section */

    #contact h2 {
        font-size: 1rem;
    }

    .contactLink {
        display: inline-block;
        margin: .5em -.25em;
    }

    .hidden {
        display: none;
    }

    .contactIcon {
        margin: .7rem;
        height: 2rem;
    }

    /* footer */

    #pageFooter {
        padding: 1.5rem;
    }

    #pageFooter p {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}

/* 380px max-width media */

/* profile */

@media (max-width: 380px) {
    #aboutMe {
        padding: 6rem 1rem .5rem;
    }
}

/* end of media queries */

/* TODO: Smile. You are enough. */