:root {
    --mainBlue: #30A7C1;
    --lightBlue: #C6DDE2;
    --pink: #F43D70;
    --green: #B5D3AE;

}

body {
    background-color: var(--lightBlue);
    font-family: 'Comfortaa', cursive;
}

#topNav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1rem;
    background-color: var(--mainBlue);
    color: var(--lightBlue);
    z-index: 1;
}

#nameLogo p:first-of-type {
    font-size: 2rem;
    font-family: 'Nothing You Could Do', cursive;
    font-weight: bold;
    text-shadow: -.05em -.05em var(--pink);
}

#topNav p {
    text-align: center;
}

.navLink {
    display: inline-block;
    padding: .8rem .5rem;
}

.navClick {
    text-decoration: none;
    color: var(--lightBlue);
}

.navClick:hover {
    color: var(--green);
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: .2rem;
    text-decoration-color: var(--pink);
    font-weight: bolder;
}

#aboutMe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5rem;
    padding: 4em;
    color: var(--mainBlue);
}

#aboutMe h1,
#aboutMe h2,
#aboutMe p {
    width: 30%;
    height: auto;
    white-space: nowrap;
}

#aboutMe h1 {
    font-size: 3em;
}


#aboutMe h2 {
    font-size: 2em;
    text-align: right;
    width: 50%;
}

#aboutMe p:first-of-type {
    white-space: normal;
    text-align: right;
}

#aboutMe p {
    font-size: 1.5em;
}

#aboutMe img {
    width: 15%;
    border-radius: 50%;
    border: .5em solid var(--mainBlue);
}

section {
    padding: 3em .5em;
}

.mainWork {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--mainBlue);
    color: var(--lightBlue)
}

.mainWork figure,
.mainWork p {
    width: 40%;
}

.mainWork img {
    width: 100%;
}

.mainWork figure {
    position: relative;
}

.mainWork figcaption {
    position: absolute;
    bottom: 1em;
    /* left: 1.5em; */
    width: 70%;
    padding: .5em 1em;
    background-color: var(--lightBlue);
    color: var(--mainBlue);
    text-align: center;
    font-size: 1.5em;
}

.workGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.workGrid figure,
.workGrid p {
    width: 22%;
    padding: 1em;
    color: var(--mainBlue)
}

.workGrid img {
    width: 100%;
}

.workGrid figure {
    position: relative;
}

.workGrid figcaption {
    position: absolute;
    top: 1em;
    width: 70%;
    padding: .5em 1em;
    background-color: var(--mainBlue);
    color: var(--lightBlue);
    text-align: center;
}

#contact {
    background-color: var(--mainBlue);
    padding: 2em;

}

#contact h2 {
    background-color: var(--lightBlue);
    color: var(--mainBlue);
    padding: 1em;
    width: 80%;
    margin: 1em auto;
    font-size: 3rem;
    text-align: center;
}

#contact img {
    width: auto;
    height: 1em;
    margin-right: .5em;
}

#contact ul {
    text-align: center;
}

#contact li {
    margin: 1.5em;
    font-size: 3em;
}

#contact li a {
    text-decoration: none;
    color: var(--lightBlue);
    margin-bottom: 1rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--pink);
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    padding: 5rem;
    line-height: 1.5em;
    color: var(--lightBlue);
}

footer a {
    text-decoration: none;
    color: var(--green);
}

.pink {
    color: var(--pink);
    font-weight: bolder;
}

@media (max-width: 1200px) {}

@media (max-width: 1024px) {}

@media (max-width: 768px) {
    #nameLogo p:first-of-type {
        font-size: 1.5em;
    }

}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .navLink {
        display: block;
        padding: .2em .5em;
    }

    .navLink:nth-of-type(odd) {
        background-color: var(--lightBlue);
        color: var(--mainBlue);
    }

    nav ul {
        margin: 1em auto .5em;
    }

    #aboutMe {
        padding: 6rem .5rem .5rem;
        flex-direction: column;
    }

    #aboutMe h1 {
        font-size: 1.5rem;
    }

    #aboutMe h2 {
        font-size: .9rem;
        align-self: flex-end;
    }

    #aboutMe img {
        align-self: center;
        width: 50%;
        border: .2em solid var(--mainBlue)
    }

    #aboutMe p {
        display: none;
    }

    .mainWork {
        flex-direction: column;
    }

    .workGrid {
        flex-direction: column;
    }

    .workGrid figure,
    .workGrid p,
    .mainWork figure,
    .mainWork p {
        width: 90%;
        margin: 1rem auto;
        text-align: center;
    }

    .workGrid p {
        display: none;
    }

    #contact h2 {
        font-size: 1rem;
    }

    #contact a {
        display: none;
    }

    #contact li {
        display: inline-block;
        margin: .5em -.25em;
    }

    footer {
        padding: 1rem;
    }

    footer p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}